@use '../../styles/variables' as *;

.header {
  margin: 20px 0 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo, .change_theme {
  margin-right: 20px;
}

.logo {
  width: 65px;
  height: 65px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  color: $primary-color;
}